[Desktop Entry]
Name=OmniBox
Comment=Download media from multiple platforms
GenericName=Download Manager
Exec=omnibox
Icon=wtf.tonho.omnibox
Terminal=false
Type=Application
Categories=Network;FileTransfer;Utility;
Keywords=omnibox;download;downloader;video;media;udemy;hotmart;youtube;telegram;
StartupWMClass=omnibox
